[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
# auto_explore = {editable = true,path = "."}
pset-utils = {editable = true,git = "https://github.com/csci-e-29/2019sp-pset-utils-paulmattheww.git@4dc026ea2b8301696f85553f63ad08931931f29e"}

[requires]
python_version = "3.7"
