[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
jupyter = "*"
pandas = "*"
ipython = "*"

[packages]
pytest = "*"
auto-explore = {editable = true,path = "."}
sklearn = "*"
pandas-profiling = "*"
featexp = "*"
speedml = "*"
pandas = "*"
dask = "*"
numba = "*"
yellowbrick = "*"
scikit-plot = "*"
pandas_datareader = "*"
tensorflow = "*"
tensorflow_hub = "*"

[requires]
python_version = "3.7"
