[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
# auto_explore = {editable = true,path = "."}
sklearn = "*"
pandas-profiling = "*"
featexp = "*"
speedml = "*"
pandas = "*"
dask = "*"


[requires]
python_version = "3.7"
